/* ======================== VARIABLES ======================== */
/* Aquí se definen los colores y valores que se usan en todo el proyecto */
:root {
  --purple: rgb(56, 27, 73);
  --purple-light: #4f2666;
  --black: #202429;
  --white: #fff;
  --black-transparent: rgba(0, 0, 0, 0.5);
  --bg-light: #f4f4f4;
}

/* ======================== RESET GENERAL ======================== */
/* Restablece los estilos por defecto del navegador para una base consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}
body {
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--bg-light);
  scroll-behavior: smooth;
}
/* Estilos de base para tipografía y enlaces */
a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0px;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

/* ======================== HEADER & NAVIGATION ======================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 80vw;
  margin: 0 auto;
  z-index: 100;
}
.logo {
  font-family: "Kapakana", cursive;
  font-weight: bold;
  font-size: 3.2rem;
  color: white;
}
.logo:hover,
.cart-icon:hover,
.btn-style:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  color: var(--white);
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.6s ease;
}
.nav-item:hover {
  background-color: var(--black);
}

/* ======================== SHOP CART ======================== */
/* Estilos para el icono del carrito de compras flotante */
.shop-bag {
  width: 32px;
  margin: 10px;
}
.shop-bag:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}
.shop-cart {
  position: fixed;
  top: 80vw;
  right: 10vw;
  z-index: 1000;
  background-color: var(--black-transparent);
  cursor: pointer;
  border-radius: 10px;
  backdrop-filter: blur(1px);
}
.cart-count {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 4px;
  background-color: var(--purple-light);
}

/* ======================== UTILS CLASS ======================== */
.blur {
  backdrop-filter: blur(2px);
}
.line {
  text-decoration: line-through;
  font-size: 0.9em; /* Opcional: para que sea un poco más pequeño */
  color: bisque;
}
.social {
  position: fixed;
  left: 10vw;
  top: 80vw;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: var(--black-transparent);
  border-radius: 10px;
  backdrop-filter: blur(1px);
}
.social-icon {
  width: 32px;
  margin: 10px;
}
.social-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ======================== MAIN CONTENT ======================== */
main {
  width: 100%;
}

/* SECCIÓN LANDING */
.landing-page {
  background-image: url(./src/landing-img.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  background-attachment: fixed;
}
.landing-text {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  min-height: 300px;
  border-radius: 10px;
  background-color: var(--black-transparent);
}
.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing-text h1 {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 2rem;
  padding: 8px;
}
.landing-page p {
  font-family: "Lexend Deca", sans-serif;
  padding: 10px;
  line-height: 1.8rem;
}

/* SECCIÓN MÁS VENDIDOS */
.bestseller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60dvh;
  text-align: center;
  margin: 10dvh 0px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  width: 80vw;
}
.product-img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

/* ======================== PRODUCTS PAGE ======================== */
.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60dvh;
  text-align: center;
  margin: 0 auto;
}
.product-page h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--black);
  color: var(--purple-light);
}
.product-text {
  width: 100%;
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  color: var(--white);
  border-radius: 0 0 10px 10px;
  font-size: 0.8rem;
  z-index: 100;
}
.product-text .btn-style {
  margin-top: 10px;
}
.product-text h4 {
  font-size: 1.5rem;
  margin-top: 0;
}
.product-text .price {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Carousel de productos responsivo */
.product-list {
  display: flex;
  width: max(240px, 80vw);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; /* Desplazamiento suave al navegar */
  gap: 40px; /* Espacio entre las tarjetas */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  /* Ocultar barra de desplazamiento para navegadores WebKit */
  &::-webkit-scrollbar {
    display: none;
  }
}
.product-container {
  display: flex;
}
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  overflow: hidden;
  cursor: pointer;
  scroll-snap-align: center;
  flex: 0 0 90%; /* No crecer, no encoger, base de 90% */
  margin-bottom: 10vh;
}

/* Efecto hover: levanta la tarjeta y muestra la información */
.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* .product-list:hover .product-img {
  filter: hue-rotate(180deg);
} */

/* BOTONES */
.btn-style {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
}
.btn-purple {
  background-color: var(--purple-light);
}
.btn-purple:hover {
  background-color: var(--purple);
}

/* ======================== FOOTER ======================== */
.footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
}
.footer-text {
  margin: 0;
  font-size: 0.9rem;
}

/* ======================== MEDIA QUERIES ======================== */
/* <768px RESOLUTION SM MD */
@media (max-width: 767px) {
  /* Navegación para móviles */
  .navbar {
    justify-content: center;
    text-align: center;
  }
  .nav-links {
    display: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--purple-light);
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
  }
  .nav-item {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .social {
    top: 80%;
  }
  .shop-cart {
    top: 80%;
  }
  .landing-text {
    padding: 40px 0px;
  }
  .landing-page p {
    margin: 0px auto;
    font-size: 0.8rem;
  }
  .landing-page h1 {
    font-size: 1.6rem;
  }
  .head {
    flex-direction: column;
    gap: 15px;
  }
}

/* 768px> RESOLUTION MD LG */
@media (min-width: 768px) {
  .landing-text {
    margin: 0;
    justify-content: space-evenly;
  }
  .landing-text-container {
    display: flex;
    flex-direction: row;
  }
  .product-item {
    flex: 0 0 200px;
  }
}
