/* ======================== VARIABLES ======================== */
/* Aquí se definen los colores y valores que se usan en todo el proyecto */
:root {
  --purple: rgb(56, 27, 73);
  --purple-light: #4f2666;
  --black: #202429;
  --white: #fff;
  --black-transparent: rgba(0, 0, 0, 0.5);
  --bg-light: #f4f4f4;
}

/* ======================== RESET GENERAL ======================== */
/* Restablece los estilos por defecto del navegador para una base consistente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}
body {
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--bg-light);
  scroll-behavior: smooth;
}
/* Estilos de base para tipografía y enlaces */
a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}
p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0px;
}
.landing-number {
  font-size: 1.8rem;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

/* ======================== HEADER & NAVIGATION ======================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  background-color: var(--black-transparent);
  backdrop-filter: blur(3px); /* Efecto de desenfoque en el fondo */
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  max-width: 80vw;
  margin: 0 auto;
  z-index: 100;
}
.logo {
  font-family: "Kapakana", cursive;
  font-weight: bold;
  font-size: 2.6em;
  color: white;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 20px;
}
.logo,
.cart-icon,
.btn-style {
  transition: all 0.4s ease; /* Unifica la transición base */
}
.logo:hover,
.cart-icon:hover,
.btn-style:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  color: var(--white);
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.6s ease;
}
.nav-item:hover {
  background-color: var(--black);
}

/* ======================== SHOP CART ======================== */
/* Estilos para el icono del carrito de compras flotante */
.shop-bag {
  width: 34px;
}
.shop-bag:hover{
  scale: 1.2;
  transition: all 0.4s ease;
}
.shop-cart {
  border: 1px solid black;
  position: fixed;
  top: 80%;
  right: 10vw;
  z-index: 1000;
  padding-left: 5px;
  padding-top: 5px;
  background-color: var(--bg-light);
  cursor: pointer;
}
.cart-count {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  padding: 4px;
  background-color: var(--purple-light);
}

/* ======================== UTILS CLASS ======================== */
.blur {
  backdrop-filter: blur(2px);
}
.social {
  position: fixed;
  left: 10vw;
  top: 80%;
  display: flex;
  flex-direction: column;
  z-index: 200;
  background-color: var(--bg-light);
  border: 1px solid black;
}
.social-icon {
  width: 34px;
  margin: 10px;
}
.social-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ======================== MAIN CONTENT ======================== */
main {
  width: 100%;
}

/* SECCIÓN LANDING */
.landing-page {
  background-image: url(./src/landing-img.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  background-attachment: fixed;
}
.landing-text {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  min-height: 300px;
  margin-top: 10vh;
  border-radius: 10px;
  background-color: var(--black-transparent);
}
.landing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing-text h1 {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  font-size: 2rem;
  padding: 8px;
}
.landing-page p {
  font-family: "Lexend Deca", sans-serif;
  padding: 10px;
  line-height: 1.8rem;
}

/* SECCIÓN MÁS VENDIDOS */
.bestseller-container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 0;
  margin: 4rem auto;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
}

/* Carousel de productos responsivo */
.product-list {
  display: flex;
  max-width: 80vw;
  overflow-x: auto; /* Permite el scroll horizontal */
  scroll-behavior: smooth; /* Desplazamiento suave al navegar */
  padding: 20px 0; /* Espacio vertical dentro del slider */
  gap: 60px; /* Espacio entre las tarjetas */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  /* Ocultar barra de desplazamiento para navegadores WebKit */
  &::-webkit-scrollbar {
    display: none;
  }
}
.product-item {
  display: flex;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 400px;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  cursor: pointer;
  flex: 0 0 280px; /* No crecer, no encoger, base de 280px */
}

/* Efecto hover: levanta la tarjeta y muestra la información */
.product-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* IMÁGENES DE LOS PRODUCTOS */
/* Se enlazan las imágenes de fondo para cada tarjeta */
.product-1 {
  background-image: url(./src/product-img-1.jpeg);
}
.product-2 {
  background-image: url(./src/product-img-2.jpeg);
}
.product-3 {
  background-image: url(./src/product-img-3.jpeg);
}
.product-4 {
  background-image: url(./src/product-img-4.jpeg);
}
.product-5 {
  background-image: url(./src/product-img-5.jpeg);
}
.product-6 {
  background-image: url(./src/product-img-6.jpeg);
}

.product-text {
  width: 100%;
  padding: 20px;
  background-color: var(--black-transparent);
  backdrop-filter: blur(10px);
  color: var(--white);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 0.8rem;
  z-index: 100;
}
.product-text .btn-style {
  margin-top: 10px;
}
/* Al pasar el mouse, el texto del producto se hace visible */
.product-item:hover .product-text {
  opacity: 1;
}
.product-text h4 {
  font-size: 1.5rem;
  margin-top: 0;
}
.product-text .price {
  font-size: 1.4rem;
  font-weight: bold;
}

/* BOTONES */
.btn-style {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  transition: background-color 0.3s ease;
}
.btn-purple {
  background-color: var(--purple-light);
}
.btn-purple:hover {
  background-color: var(--purple);
}
/* ======================== PRODUCTS PAGE ======================== */
.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
  background-color: var(--bg-light);
  min-height: 100vh;
  /* padding-top: 10vh; */
  text-align: center;
  overflow: hidden;
  max-width: 80vw;
  margin: 0 auto;
}
.products-page h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--black);
  color: var(--purple-light);
}

.products-page .product-item {
  background-color: red;
}
/* ======================== FOOTER ======================== */
.footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 1rem 0;
  margin-top: 4rem;
}
.footer-text {
  margin: 0;
  font-size: 0.9rem;
}

/* ======================== MEDIA QUERIES ======================== */
/* Reglas para adaptar el diseño a pantallas más pequeñas */
@media (max-width: 767px) {
  /* Navegación para móviles */
  .navbar {
    justify-content: center;
    text-align: center;
  }
  .nav-links {
    display: fixed;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: var(--purple-light);
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
  }
  .nav-item {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  .landing-text {
    padding: 40px 0px;
    margin-top: 150px;
  }
  .landing-page p {
    margin: 0px auto;
    font-size: 0.9rem;
  }
  .landing-page h1 {
    font-size: 1.8rem;
  }
  .head {
    flex-direction: column;
    gap: 15px;
  }
  .product-item {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .landing-text {
    margin: 0;
    justify-content: space-evenly;
  }
  .landing-text-container {
    display: flex;
    flex-direction: row;
  }
}
